<h1>Flights</h1>
<div>
  <div class="table-header">
  
    <div>id</div>
    <div>city</div>
    <div>postal_code</div>
    <div>country</div>
    <div>street</div>
     
  </div>
  <div>
     {{#each data}}
      <div class="table-row">
        <div>{{this.id}}</div>
        <div>{{this.city}}</div>
        <div>{{this.postal_code}}</div>
        <div>{{this.country}}</div>
        <div>{{this.street}}</div>
        <div>
            <form method="POST" action="/addresses/delete">
                <input type="submit" value="Delete" />
                <input type="hidden" name="id" value="{{this.id}}" />
            </form>            
        </div>

        <div>
            <form method="GET" action="/addresses/update">
                <input type="submit" value="Update" />
                <input type="hidden" name="id" value="{{this.id}}" />
            </form>
        </div>

         
         

         
      </div>
    {{/each}}
  </div> 
</div>
