<h1>Employees</h1>
<div>
  <div class="table-header">
    <div>ID</div>
    <div>Joining Year</div>
    <div>Department number</div>
    <div>Grade</div>
    <div>CNIC</div>
  </div>
  <div>
    {{#each data}}
      <div class="table-row">
        <div>{{this.id}}</div>
        <div>{{this.joining_year}}</div>
        <div>{{this.dept_no}}</div>
        <div>{{this.grade}}</div>
        <div>{{this.cnic}}</div>
        <div>
            <form method="post" action="/employees/delete">
                <input type="submit" value="delete" />
                <input type="hidden" name="id" value="{{this.id}}" />
            </form>
        </div>
        <div>
            <form method="get" action="/employees/update">
                <input type="submit" value="update" />
                <input type="hidden" name="id" value="{{this.id}}" />
            </form>
        </div>
      </div>
    {{/each}}
  </div> 
</div>
