<h1>Employees</h1>
<div>
  <div class="table-header">
    <div>ID</div>
    <div>Joining Year</div>
    <div>Department number</div>
    <div>Grade</div>
    <div>CNIC</div>
  </div>
  <div>
    {{#each data}}
      <div class="table-row">
        <div>{{this.id}}</div>
        <div>{{this.discount}}</div>
        <div>{{this.first_name}}</div>
        <div>{{this.last_name}}</div>
        <div>{{this.age}}</div>
        <div>{{this.cnic}}</div>
        <div>{{this.phone_number}}</div>
        <div>{{this.miles}}</div>
        <div>{{this.passport_number}}</div>
        <div>
            <form method="post" action="/pessengers/delete">
                <input type="submit" value="delete" />
                <input type="hidden" name="id" value="{{this.id}}" />
            </form>
        </div>
        <div>
            <form method="get" action="/pessengers/update">
                <input type="submit" value="update" />
                <input type="hidden" name="id" value="{{this.id}}" />
            </form>
        </div>
      </div>
    {{/each}}
  </div> 
</div>
