<h1>Update Person</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>First Name</label>
          <input type="text" name="first_name" value={{data.first_name}} />
      </div>

      <div>
          <label>Last Name</label>
          <input type="text" name="last_name" value={{data.last_name}} />
      </div>

      <div>
          <label>Age</label>
          <input type="number" name="age" value={{data.age}} />
      </div>

      <div>
          <label>CNIC</label>
          <input type="text" name="cnic" value={{data.cnic}} />
      </div>
      <div>
          <label>Phone Number</label>
          <input type="text" name="phone_number" value={{data.phone_number}} />
      </div> 
      <div>
          <label>Miles</label>
          <input type="number" name="miles" value={{data.miles}} />
      </div>
      <div>
          <label>Passport Number</label>
          <input type="text" name="passport_number" value={{data.passport_number}} />
      </div>
      <div>
          <label>Address ID</label>
          <input type="number" name="address_id" value={{data.address_id}} />
      </div>
        <input type="hidden" value={{data.cnic}} name="old_cnic" />
    </div>

    <input type="submit" />
  </form>
</div>
